### **String based assignment problem :**

1. Write a program to reverse a string.

In [4]:
str1=input("Enter any String:")
s=str1[::-1]
print("reversed string is:",s)

Enter any String:ashish
reversed string is: hsihsa

2. Check if a string is a palindrome.

In [6]:
str1=input("Enter any String:")
if str1[::1]==str1[::-1]:
    print("string is Palindrome:")
else:
    print("String is not Palindrome")

Enter any String:mom
string is Palindrome:

3. Convert a string to uppercase.

In [9]:
str1=input("Enter any String:")
print(str1.upper())

Enter any String:Ashish Dakle
ASHISH DAKLE

4. Convert a string to lowercase.

In [10]:
str1=input("Enter any String:")
print(str1.lower())

Enter any String:MY NAME IS ASHISH
my name is ashish

5. Count the number of vowels in a string.

In [11]:
s=input("Enter String:")
s=s.lower()
count=0
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count=count+1
print("Numbers of Vowels are:",count)

Enter String:HEY HOW ARE YOU
Numbers of Vowels are: 6

6. Count the number of consonants in a string.

In [12]:
s=input("Enter String:")
s=s.lower()
count=0
ccount=0
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i==" ":
        count=count+1
    else:
        ccount=ccount+1
print("Numbers of Consonants are:",ccount)

Enter String:HELLO HOW ARE YOU
Numbers of Consonants are: 7

7. Remove all whitespaces from a string.

In [13]:
str1=input("Enter any String:")
result = ""
for char in str1:
    if char != " ":
        result += char
print("String Without Whitespace:",result)

Enter any String:THIS IS A BOOK
String Without Whitespace: THISISABOOK

8. Find the length of a string without using the `len()` function.

In [14]:
s=input("Enter any String:")
count=0
for i in s:
    count=count+1
print("Length of String is:",count)

Enter any String:Good Morning
Length of String is: 12

9. Check if a string contains a specific word.

In [15]:
input_str=input("Enter a String:")
s_str=input("Enter a specific word to Search for:")

if s_str in input_str:
    print("The string contains the word:",s_str)
else:
    print("The string does not contains the word:",s_str)

Enter a String:Hello how are you
Enter a specific word to Search for:you
The string contains the word: you

10. Replace a word in a string with another word.

In [16]:
input_str=input("Enter a String:")
old_word=input("Enter a word you want to replace:")
new_word=input("Enter a word you want to replace with:")

modified_str=input_str.replace(old_word,new_word)

print("Modified String:",modified_str)

Enter a String:My name is Ashish
Enter a word you want to replace:Ashish
Enter a word you want to replace with:Abhi
Modified String: My name is Abhi

11. Count the occurrences of a word in a string.

In [19]:
str1=input("Enter any String:")
target_word=input("Enter word to find its occurance:")
count=0
word=str1.split()
for val in word:
    if val==target_word:
        count=count+1
print(f"The word '{target_word}' appears {count} times in the input string.")

Enter any String:This is a Book . Reading Book is Good habit
Enter word to find its occurance:Book
The word 'Book' appears 2 times in the input string.

12. Find the first occurrence of a word in a string.

In [20]:
str1=input("Enter any String:")
word=input("Enter word to find its index:")
index=str1.find(word)
if index==-1:
    print("Word is not Found")
else:
    print("Index of first occurance is",index)

Enter any String:this is a book . book is simple
Enter word to find its index:book
Index of first occurance is 10

13. Find the last occurrence of a word in a string.

In [21]:
str1=input("Enter any String:")
word=input("Enter word to find its index:")
index=str1.rfind(word)
if index==-1:
    print("Word is not Found")
else:
    print("Index of Last occurance is",index)

Enter any String:This is a Book . Reading Book is Good habit
Enter word to find its index:Book
Index of Last occurance is 25

14. Split a string into a list of words.

In [22]:
str1=input("Enter any String:")
lst=str1.split()
print(lst)

Enter any String:THIS IS A BOOK
['THIS', 'IS', 'A', 'BOOK']

15. Join a list of words into a string.

In [27]:
l=["This",'is','a','List','of','words']
join=' '.join(l)
print("Joined String:",join)

Joined String: This is a List of words

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [29]:
str1=input("Enter any String:")
print("Updated Text:",str1.replace(" ","_"))

Enter any String:This is a Book
Updated Text: This_is_a_Book

17. Check if a string starts with a specific word or phrase.

In [32]:
str1=("Hello Good Morninhg")
prefix=("Hello")
if str1.startswith(prefix):
    print("The text start with the prefix")
else:
    print("The text doen't start with the prefix")

The text start with the prefix

18. Check if a string ends with a specific word or phrase.

In [35]:
str1=("Hello Good Morning")
prefix=("Morning")
if str1.endswith(prefix):
    print("The text ends with the prefix")
else:
    print("The text doen't ends with the prefix")

The text ends with the prefix

19.Convert a string to title case (e.g., "hello world" to "Hello World").

In [38]:
str1=("Hello good morning")
print("Title Case Result:",str1.title())

Title Case Result: Hello Good Morning

20. Find the longest word in a string.

In [39]:
str1=input("Enter String:")
words=str1.split()
max_len=0
for word in words:
    if len(word)>max_len:
        max_len=len(word)
        long_word=word
print("longest word is:",long_word)

Enter String:there is a book and notebook
longest word is: notebook

21. Find the shortest word in a string.

In [41]:
str1=input("Enter String:")
words=str1.split()
shortest_word=None
min_len=float('inf')
for word in words:
    if len(word)<min_len:
        min_len=len(word)
        shortest_word=word
print("Shortest word is:",shortest_word)

Enter String:this is a book
Shortest word is: a

22. Reverse the order of words in a string.

In [49]:
str1=input("Enter String:")
words=str1.split()
rev_string=' '.join(reversed(words))
print(rev_string)

Enter String:this is a book
book a is this

23. Check if a string is alphanumeric.

In [57]:
str1=input("Enter String:")
if str1.isalnum()==True:
    print("String is Alphanumeric")
else:
    print("String is not Alphanumeric")

Enter String:book123
String is Alphanumeric

24. Extract all digits from a string.

In [60]:
str1=input("Enter String:")
digits=""
for char in str1:
        if char.isdigit():
            digits += char
print("Digits in String are:",digits)

Enter String:book12and34
Digits in String are: 1234

25. Extract all alphabets from a string.

In [65]:
str1=input("Enter String:")
digits=""
for char in str1:
        if char.isalpha():
            digits += char
print("Alphabets in String are:",digits)

Enter String:this is a book 1123
Alphabets in String are: thisisabook

26. Count the number of uppercase letters in a string.

In [70]:
str1=input("Enter String:")
count=0
for char in str1:
        if char.isupper():
            count=count+1
print("Uppercase letters in String are:",count)

Enter String:HelloWorld
Uppercase letters in String are: 2

27. Count the number of lowercase letters in a string.

In [71]:
str1=input("Enter String:")
count=0
for char in str1:
        if char.islower():
            count=count+1
print("Lowercase letters in String are:",count)

Enter String:This is a book
Lowercase letters in String are: 10

28. Swap the case of each character in a string.

In [72]:
str1=input("Enter String:")
swapcase=str1.swapcase()
print("Swapcase String is:",swapcase)

Enter String:ThIs Is A BoOk
Swapcase String is: tHiS iS a bOoK

29. Remove a specific word from a string.

In [76]:
str1=input("Enter String:")
r_word=input("Enter word to Remove:")
words=str1.split()
filter_word=[word for word in words if word != r_word]
modified_str=' '.join(filter_word)
print("Modified String is :",modified_str)

Enter String:this is a string
Enter word to Remove:is
Modified String is : this a string

30. Check if a string is a valid email address.

In [87]:
import re  # Import the regular expression module
email =input("Enter email id:")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
if re.match(pattern, email):
    print("Email is Valid")
else:
    print("Email is not Valid")

Enter email id:adakle00@gmail.com
Email is Valid

31. Extract the username from an email address string.

In [89]:
email =input("Enter email id:")
s=email.split('@')
print("Username is:",s[0])

Enter email id:adakle00@gmail.com
Username is: adakle00

31. Extract the domainname from an email address string.

In [91]:
email =input("Enter email id:")
s=email.split('@')
print("Domainame is:",s[1])

Enter email id:ashishdakle.sit.comp@gmail.com
Domainame is: gmail.com

33. Replace multiple spaces in a string with a single space.

In [94]:
str1=input("Enter String:")
new_str=" ".join(str1.split())
print(new_str)

Enter String:This is a data     Science   class
This is a data Science class

34. Check if a string is a valid URL.

In [98]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [102]:
url=input("Enter valid url:")
a=url.split(":")[0]
b=a[1:len(a)]
print(b)

Enter valid url:"https://www.example.com"
https

36. Find the frequency of each character in a string.

In [115]:
str1=input("Enter String:")
freq={}
for char in str1:
    if char in freq:
        freq[char]+=1
    else:
        freq[char]=1
print("{}".format(freq))

Enter String:ashish
{'a': 1, 's': 2, 'h': 2, 'i': 1}

37. Remove all punctuation from a string.

In [116]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

38. Check if a string contains only digits.

In [119]:
str1=input("Enter string:")
if str1.isdigit():
    print("String contains only Digits")
else:
    print("String doesn't contains only Digits")

Enter string:123456
String contains only Digits

38. Check if a string contains only Alphabets.

In [121]:
str1=input("Enter string:")
if str1.isalpha():
    print("String contains only Alphabets")
else:
    print("String doesn't contains only Alphabets")

Enter string:ashihs
String contains only Alphabets

40. Convert a string to a list of characters.

In [123]:
str1=input("Enter string:")
print("List of Characters:",list(str1))

Enter string:Ashihs Dakle
List of Characters: ['A', 's', 'h', 'i', 'h', 's', ' ', 'D', 'a', 'k', 'l', 'e']

 41. Check if two strings are anagrams.

In [130]:
str1=input("Enter string:")
str2=input("Enter string:")
str1=str1.replace(" ","").lower()
str2=str2.replace(" ","").lower()
if sorted(str1)==sorted(str2):
    print("'{}' and '{}' are anagrams".format(str1,str2))
else:
    print("'{}' and '{}' are not anagrams".format(str1,str2))

Enter string:silent
Enter string:listen
'silent' and 'listen' are anagrams

42. Encode a string using a Caesar cipher.

A Caesar cipher is a simple encryption technique where each letter in 
the plaintext is shifted a certain number of places down or up the
alphabet. Here's a Python code snippet to encode a string using a
Caesar cipher:

In [131]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

43. Decode a Caesar cipher encoded string.

In [134]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "khoor, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: hello, world!

44. Find the most frequent word in a string.

In [138]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.

In [141]:
str1=input("Enter String:")
clean_string = re.sub(r'[^\w\s]', '', str1).lower()
words=set(str1.split())
print("unique words are:",words)

Enter String:this is a book and i love reading this book
unique words are: {'this', 'a', 'book', 'love', 'is', 'reading', 'i', 'and'}

46. Count the number of syllables in a string.

In [144]:
str1=input("Enter String:")
count=0
vowels='aeiouy'
for char in str1:
    if char in vowels:
        count= count+1
print("'{}'has '{}' syllables".format(str1,count))

Enter String:hello
'hello'has '2' syllables

47. Check if a string contains any special characters.

In [181]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)
input_string=input("Enter any string")
result1 = contains_special_characters(input_string)
print(f"'{input_string}' contains special characters:", result1)

Enter any stringthis is a book!
'this is a book!' contains special characters: True

48. Remove the nth word from a string.

In [190]:
def remove_word(str1,n):
    words=str1.split()
    if n>=1 and n<=len(words):
        remove_word=words.pop(n-1)
        modified_str=' '.join(words)
        return modified_str
    else:
        return None
st1=input("Enter string:")
n=int(input("Enter number of element to be removed:"))
res=remove_word(str1,n)
print("updated String is:",res)

Enter string:this is a book
Enter number of element to be removed:3
updated String is: this is book

49. Insert the word at nth position in a string.

In [199]:
def insert_word(str1,word,n):
    words=str1.split()
    if n>=0 and n<=len(words):
        updated_string=words.insert(n,word)
        str2=' '.join(words)
        
        return str2
        
str1=input("Enter any String:")
word=input("Enter word to insert:")
n=int(input("Enter index to insert element:"))
res=insert_word(str1,word,n)
print("String after Insertion is:",res)

Enter any String:this is a book
Enter word to insert:not
Enter index to insert element:2
String after Insertion is: this is not a book

50. Convert a CSV string to a list of lists.

In [200]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Questions:

1. Create a list with integers from 1 to 10.

In [202]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [203]:
def custom_len(lst):
    count=0
    for i in lst:
        count=count+1
    return count
        
lst=[10,20,30,40,50,60,70]
res=custom_len(lst)
print("Length of List is:",res)

Length of List is: 7

3. Append an element to the end of a list.

In [207]:
lst=[10,20,30]
new_ele=40
lst.append(new_ele)
print("Updated List is:",lst)

Updated List is: [10, 20, 30, 40]

4. Insert an element at a specific index in a list.

In [210]:
lst=[10,20,30,40,50,60]
insert=25
index=2
lst.insert(index,insert)
print("Updated list is:",lst)

Updated list is: [10, 20, 25, 30, 40, 50, 60]

5. Remove an element from a list by its value.

In [211]:
lst=[10,20,30,40,50,60]
remove_ele=30
lst.remove(remove_ele)
print("Updated list is",lst)

Updated list is [10, 20, 40, 50, 60]

6. Remove an element from a list by its index.

In [212]:
lst=[10,20,30,40,50,60]
remove_ele_ind=3
lst.pop(remove_ele_ind)
print("Updated list is",lst)

Updated list is [10, 20, 30, 50, 60]

7. Check if an element exists in a list.

In [213]:
lst=[10,20,30,40,50,60]
check_ele=30
if check_ele in lst:
    print("{} exist in List".format(check_ele))
else:
    print("{}  does not exist in List".format(check_ele))

30 exist in List

8. Find the index of the first occurrence of an element in a list.

In [214]:
lst=[10,20,30,40,50,60,70,80,30]
check_ele=30
check=lst.index(check_ele)
print("Index of First Occurance is:",check)

Index of First Occurance is: 2

9. Count the occurrences of an element in a list.

In [220]:
lst=[10,20,30,40,50,60,70,80,30]
check_ele=30
count=lst.count(check_ele)
print("The Element {} Occurs {} times in List".format(check_ele,count))

The Element 30 Occurs 2 times in List

10. Reverse the order of elements in a list.

In [221]:
lst=[10,20,30,40,50,60,70,80,]
s=lst[::-1]
print("Reverse order is:",s)

Reverse order is: [80, 70, 60, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [224]:
lst=[80,20,40,50,70,10,5,7]
lst.sort()
print("Sorted List is:",lst)

Sorted List is: [5, 7, 10, 20, 40, 50, 70, 80]

12. Sort a list in descending order.

In [226]:
lst=[80,20,40,50,70,10,5,7]
lst.sort(reverse=True)
print("Sorted List is:",lst)

Sorted List is: [80, 70, 50, 40, 20, 10, 7, 5]

13. Create a list of even numbers from 1 to 20.

In [228]:
even_lst=[x for x in range(2,21,2)]
print("Even Numbers are:",even_lst)

Even Numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [231]:
odd_lst=[x for x in range(1,21,2)]
print("Odd Numbers are:",odd_lst)

Odd Numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [233]:
lst=[10,20,30,40,50,60,70,80,90]
tsum=sum(lst)
print("Sum of all Elements is:",tsum)

Sum of all Elements is: 450

16. Find the maximum value in a list.

In [234]:
lst=[10,30,50,70,90,20,40,60]
lst=max(lst)
print("Max Element is:",lst)

Max Element is: 90

17. Find the minimum value in a list.

In [235]:
lst=[10,30,50,70,90,20,40,60]
lst=min(lst)
print("Min Element is:",lst)

Min Element is: 10

18. Create a list of squares of numbers from 1 to 10.

In [238]:
lst=[x**2 for x in range(1,11)]
print("List of Squares:",lst)

List of Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [239]:
import random
random_int=[random.randint(1,100) for _ in range(10)]
print(random_int)

[7, 98, 94, 78, 88, 32, 8, 46, 92, 23]

20. Remove duplicates from a list.

In [241]:
my_list=[10,20,30,40,20,5,6,7,6,5]
lst=list(set(my_list))
print("List without duplicate:",lst)

List without duplicate: [5, 6, 7, 40, 10, 20, 30]

In [ ]:
21. Find the common elements between two lists.

In [243]:
lst1=[10,20,30,40,50,60,70]
lst2=[5,15,25,30,45,55,65]
common=list(set(lst1).intersection(lst2))
print("Common Element is:",common)

Common Element is: [30]

22. Find the difference between two lists.

In [245]:
lst1=[10,20,30,40,50,60,70]
lst2=[5,15,20,30,40,45,65]
difference=list(set(lst1).difference(lst2))
print("Difference is:",difference)

Difference is: [50, 70, 10, 60]

In [ ]:
23. Merge two lists.

In [246]:
lst1=[10,20,30,40,50,60,70]
lst2=[5,15,25,35]
merged_list=lst1+lst2
print("Merged List is:",merged_list)

Merged List is: [10, 20, 30, 40, 50, 60, 70, 5, 15, 25, 35]

24. Multiply all elements in a list by 2.

In [247]:
lst1=[10,20,30,40,50,60,70]
mul_list=[x*2 for x in lst1]
print("Multiplication of list is",mul_list)

Multiplication of list is [20, 40, 60, 80, 100, 120, 140]

25. Filter out all even numbers from a list.

In [261]:
lst1=[5,10,15,20,25,30,35,40,50,]
filter_lst=[]
for i in lst1:
    if i%2==0:
        filter_lst.append(i)
print(filter_lst)

[10, 20, 30, 40, 50]

26. Convert a list of strings to a list of integers.

In [264]:
lst=["10","20","30","40","50"]
converted_lst=[int(x) for x in lst]
print(converted_lst)
print(type(converted_lst))

[10, 20, 30, 40, 50]
<class 'list'>

27. Convert a list of integers to a list of strings.

In [265]:
lst=[10,20,30,40,50,60]
con_lst=[str(x) for x in lst]
print(con_lst)

['10', '20', '30', '40', '50', '60']

In [ ]:
28. Flatten a nested list.

In [267]:
nested_lst=[[1,2,3],[4,5,6],[7,8,9]]
flatten=[]
for sub in nested_lst:
    for num in sub:
        flatten.append(num)
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [3]:
def fib(n):
    a,b=0,1
    result=[]
    for i in range(n):
        result.append(a)
        a,b=b,a+b
    return result
print(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [10]:
lst=[10,20,30,40,50]
if lst==sorted(lst):
    print("list is sorted")
else:
    print("List is not sorted")

list is sorted

31. Rotate a list to the left by `n` positions.

In [15]:
# Function to rotate a list to the left by n positions
lst=[10,20,30,40,50,60]
n=2
rotate=lst[n:]+lst[:n]
print("left Rotated List:",rotate)

left Rotated List: [30, 40, 50, 60, 10, 20]

32. Rotate a list to the right by `n` positions.

In [18]:
lst=[10,20,30,40,50,60]
n=2
r_rotate=lst[-n:]+lst[:-n]
print("Right Rotated List:",r_rotate)

Right Rotated List: [50, 60, 10, 20, 30, 40]

33. Create a list of prime numbers up to 50.

In [5]:
def prime_num(n):
    primes=[]
    for i in range(2,n+1):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            primes.append(i)
    return primes
res=prime_num(50)
print("Prime Numbers are:",res)

Prime Numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

 34. Split a list into chunks of size `n`.

In [6]:
lst=[1,2,3,4,5,6,7,8,9]
start=0
end=len(lst)
step=3
for i in range(start,end,step):
    x=i
    print(lst[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [8]:
lst=[10,20,30,40,80,70,50]
sorted_lst=sorted(set(lst))
if len(sorted_lst) >= 2:
    second_largest = sorted_lst[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 70

36. Replace every element in a list with its square.

In [9]:
lst=[10,20,30,40,80,70,50]
squared_lst=[x**2 for x in lst]
print(squared_lst)

[100, 400, 900, 1600, 6400, 4900, 2500]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [11]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [12]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [10, 8, 3, 1, 9, 2, 5, 6, 4, 7]

39. Create a list of the first 10 factorial numbers.

In [13]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [16]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if itemslist1 in list2:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists do not have any common elements.

40. Check if two lists have at least one element in common.

In [ ]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

41. Remove all elements from a list.

In [17]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

In [ ]:
42. Replace negative numbers in a list with 0.

In [18]:
lst=[10,20,-2,-8,-15,30]
for i in range(len(lst)):
    if lst[i]<0:
        lst[i]=0
print("List after replacing negative numbers with 0:",lst)

List after replacing negative numbers with 0: [10, 20, 0, 0, 0, 30]

43. Convert a string into a list of words.

In [20]:
string="Hello this is a Book"
word_list=string.split()
print("List of words:",word_list)

List of words: ['Hello', 'this', 'is', 'a', 'Book']

44. Convert a list of words into a string.

In [21]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
string=" ".join(word_list)
print("Converted string:",string)

Converted string: Hello, this is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [27]:
n=int(input("Enter number:"))
power=[x**2 for x in range(n)]
print("List of the first {} power of 2 is:{}".format(n,power))

Enter number:5
List of the first 5 power of 2 is:[0, 1, 4, 9, 16]

 46. Find the longest string in a list of strings.

In [29]:
lst1=["book","cat","notebook","trees","to"]
longest_string=""
for i in lst1:
    if len(i)>len(longest_string):
        longest_string=i
print("longest String is:",longest_string)

longest String is: notebook

47. Find the shortest string in a list of strings.

In [33]:
lst1=["book","cat","notebook","trees","to"]
shortest_str="inf"
for i in lst1:
    if len(i)<len(shortest_str):
        shortest_str=i
print("shortest str is:",shortest_str)

shortest str is: to

In [ ]:
48. Create a list of the first `n` triangular numbers.

In [35]:
n=6
triangular=[i*(i+1)//2 for i in range(1,n+1)]
print("List of the first", n, "triangular numbers:", triangular)

List of the first 6 triangular numbers: [1, 3, 6, 10, 15, 21]

 49. Check if a list contains another list as a subsequence.

In [55]:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
new_rec=[]
for i in main_list:
    if i in subsequence:
        new_rec.append(i)
if new_rec == subsequence:
    print("Main list Contains the Subsequence")
else:
    print("Main list doesn't Contains the Subsequence")

Main list Contains the Subsequence

50. Swap two elements in a list by their indices.

In [56]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

## **Tuple based practice problem :**

1. Create a tuple with integers from 1 to 5.

In [59]:
tupl=(1,2,3,4,5)
print(tupl)
print(type(tupl))

(1, 2, 3, 4, 5)
<class 'tuple'>

2. Access the third element of a tuple.

In [60]:
tupl=(10,20,30,40,50,60)
print("Third Element is:",tupl[2])

Third Element is: 30

3. Find the length of a tuple without using the `len()` function.

In [63]:
tupl=(10,20,30,40,50,60)
count=0
for num in tupl:
    count=count+1
print("Length of Tuple is:",count)

Length of Tuple is: 6

4. Count the occurrences of an element in a tuple.

In [101]:
tupl=(10,20,30,40,50,40,50,30,40)
element_to_find=30
count=0
for i in tupl:
    if i == element_to_find:
        count +=1
print(" The Element '{}' Occurs '{}' times in tuple".format(element_to_find,count))

 The Element '30' Occurs '2' times in tuple

 5. Find the index of the first occurrence of an element in a tuple.

In [75]:
tupl=(10,20,30,40,50,40,50,30,40)
ele_to_find=30
ind=tupl.index(ele_to_find)
print("First occurance of element is at Index:",ind)

First occurance of element is at Index: 2

6. Check if an element exists in a tuple.

In [84]:
tupl=(10,20,30,40,50,40,50,30,40)
ele_to_find=50
if ele_to_find in tupl:
    print("Element Exist in Tuple")    
else:
    print("Element Doesn't Exist in Tuple")

Element Exist in Tuple

7. Convert a tuple to a list.

In [85]:
tupl=(10,20,30,40,50,40,50,30,40)
print("list:",list(tupl))

list: [10, 20, 30, 40, 50, 40, 50, 30, 40]

8. Convert a list to a tuple.

In [86]:
lst=[10, 20, 30, 40, 50, 40, 50, 30, 40]
print("Tuple:",tuple(lst))

Tuple: (10, 20, 30, 40, 50, 40, 50, 30, 40)

9. Unpack the elements of a tuple into variables.

In [87]:
tupl=(10,20,30)
var1,var2,var3=tupl
print("var1:",var1)
print("var2:",var2)
print("var3:",var3)

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [89]:
even_lst=(x for x in range(2,11,2))
even_tupl=tuple(even_lst)
print("Tuple of Even numbers are:",even_tupl)

Tuple of Even numbers are: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [92]:
odd_lst=(x for x in range(1,11,2))
odd_tupl=tuple(odd_lst)
print("Tuple of odd numbers are:",odd_tupl)

Tuple of odd numbers are: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [93]:
tupl1=(10,20,30)
tupl2=(40,50,60)
concate=tupl1+tupl2
print("Concated Tuples is:",concate)

Concated Tuples is: (10, 20, 30, 40, 50, 60)

13. Repeat a tuple three times.

In [96]:
tupl1=(10,20,30)
repeat_tupl=tupl1*3
print("Repeated Tupl:",repeat_tupl)

Repeated Tupl: (10, 20, 30, 10, 20, 30, 10, 20, 30)

14. Check if a tuple is empty.

In [100]:
tupl=(10,20,30)
if len(tupl)==0:
    print("The Tuple is Empty")
else:
    print("The Tuple is not Empty")

The Tuple is not Empty

15. Create a nested tuple

In [103]:
tupl=((10,20,30),('a','b','c'),('True','False'))
print(tupl)

((10, 20, 30), ('a', 'b', 'c'), ('True', 'False'))

16. Access the first element of a nested tuple.

In [104]:
tupl=((10,20,30),('a','b','c'),('True','False'))
first_ele=tupl[0]
print("First Element of Nested Tuple is:",first_ele)

First Element of Nested Tuple is: (10, 20, 30)

17. Create a tuple with a single element.

In [106]:
single_tupl=(2,)
print("Single Element Tuple:",single_tupl)

Single Element Tuple: (2,)

18. Compare two tuples.

In [108]:
tuple1=(10,20,30)
tuple2=(10,20,40)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [109]:
tupl=(10,20,30,40,50,60)
del tupl
print(tupl)

NameError: name 'tupl' is not defined

20. Slice a tuple.

In [111]:
tupl=(10,20,30,40,50,60,70,80,90,100)
s=tupl[2:8]
print("Slicied Tuple:",s)

Slicied Tuple: (30, 40, 50, 60, 70, 80)

21. Find the maximum value in a tuple.

In [113]:
tupl=(10,20,30,40,50,60,70,80,90,100)
max_val=max(tupl)
print("Maximum Value:",max_val)

Maximum Value: 100

22. Find the minimum value in a tuple.

In [116]:
tupl=(10,20,30,40,50,60,70,80,90,100)
min_val=min(tupl)
print("Minimum Value:",min_val)

Minimum Value: 10

23. Convert a string to a tuple of characters.

In [117]:
str="This is a Book"
converted_tupl=tuple(str)
print("Convereted Tuple :",converted_tupl)

Convereted Tuple : ('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'B', 'o', 'o', 'k')

24. Convert a tuple of characters to a string.

In [119]:
tupl=('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'B', 'o', 'o', 'k')
converted_str="".join(tupl)
print("Converted String:",converted_str)

Converted String: This is a Book

25. Create a tuple from multiple data types.

In [121]:
mul_tupl=(10,"text",34.5,True)
print("Mixed Tuple :",mul_tupl)

Mixed Tuple : (10, 'text', 34.5, True)

26. Check if two tuples are identical.

In [125]:
tupl1=(10,20,30)
tupl2=(10,20,30)
tupl3=(30,40,60)
if tupl1==tupl2:
    print("Tuple 1 is Identical to Tuple 2")
elif tupl1==tupl3:
    print("Tuple 1 is Identical to Tuple 3")
elif tupl2==tupl3:
    print("Tuple 2 is Identical to Tuple 3")

Tuple 1 is Identical to Tuple 2

27. Sort the elements of a tuple.

In [127]:
tupl1=(10,20,30,90,40,60,100,50)
sorted_tuple=tuple(sorted(tupl1))
print("Sorted Tuple is:",sorted_tuple)

Sorted Tuple is: (10, 20, 30, 40, 50, 60, 90, 100)

28. Convert a tuple of integers to a tuple of strings.

In [1]:
# Step 1: Create a tuple of integers
int_tupl1 = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
str_tupl1 = tuple(str(item) for item in int_tupl1)

# Step 3: Print the tuple of strings
print("Tuple of strings:", str_tupl1)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [154]:
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30. Merge two tuples.

In [3]:
tupl1=(10,20,30)
tupl2=(80,0,100)
merged_tupl=tupl1+tupl2
print("Merged Tuple:",merged_tupl)

Merged Tuple: (10, 20, 30, 80, 0, 100)

31. Flatten a nested tuple.

In [13]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [18]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

3. Check if a tuple is a palindrome.

In [21]:
tupl=(1,2,3,4,3,2,1)
if tupl==tupl[::-1]:
    print("Tuple is Palinddrome")
else:
    print("Tuple is not Palindrome")

Tuple is Palinddrome

34. Create a tuple of squares of numbers from 1 to 5.

In [23]:
n=5
squared_tupl=tuple(x**2 for x in range(1,n+1))
print("Squared Tuple is:",squared_tupl)

Squared Tuple is: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [26]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
even_tupl=[x for x in original_tuple if x%2==0]
print("Even number Tuple:",even_tupl)

Even number Tuple: [2, 4, 6, 8, 10]

36. Multiply all elements in a tuple by 2.

In [27]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
mul_tupl=[x*2 for x in original_tuple ]
print("Multiplied Tuple:",mul_tupl)

Multiplied Tuple: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

37. Create a tuple of random numbers.

In [28]:
import random
rand_tupl=tuple(random.randint(1,100) for i in range(10))
print("Random Tuple:",rand_tupl)

Random Tuple: (26, 13, 93, 38, 35, 70, 96, 71, 96, 25)

38. Check if a tuple is sorted.

In [57]:
def is_sorted(tupl):
    for i in range((len(tupl)-1)):
        if tupl[i]>tupl[i+1]:
            return False
    return True
sorted_tupl=(10,20,30,40,50,60,70)
res=is_sorted(sorted_tupl)
if res==True:
    print("Tuple is sorted")
else:
     print("Tuple is not Sorted")

Tuple is sorted

39. Rotate a tuple to the left by `n` positions.

In [59]:
def rotate_tupl(tupl,n):
    rotate_left_tupl=tupl[n:]+tupl[:n]
    return rotate_left_tupl
tupl=(10,20,30,40,50)
n=2
res=rotate_tupl(tupl,n)
print("Tuple after Left Rotation:",res)

Tuple after Left Rotation: (30, 40, 50, 10, 20)

40. Rotate a tuple to the right by `n` positions.

In [60]:
def rotate_right(tupl,n_position):
    right_rotation=tupl[-n:]+tupl[:-n]
    return right_rotation
original_tupl=(10,20,30,40,50)
n_position=2
res=rotate_right(original_tupl,n_position)
print("Tuple after Right rotation:",res)

Tuple after Right rotation: (40, 50, 10, 20, 30)

41. Create a tuple of the first 5 Fibonacci numbers.

In [61]:
def fibonacci(n):
    fib=[0,1]
    while len(fib)<n:
        next_fib=fib[-1]+fib[-2]
        fib.append(next_fib)
    return tuple(fib)
n=5
res=fibonacci(n)
print("Fibonacci Series is:",res)

Fibonacci Series is: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [62]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: t,h,i,s,i,s,a,b,o,o,k
User input tuple: ('t', 'h', 'i', 's', 'i', 's', 'a', 'b', 'o', 'o', 'k')

43. Swap two elements in a tuple.

In [69]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [70]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [71]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [72]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [73]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

8. Create a tuple of the first `n` triangular numbers.

In [74]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [75]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

 50. Create a tuple of alternating 1s and 0s of length `n`.

In [76]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## **Set based problems:**

1. Create a set with integers from 1 to 5

In [79]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

2. Add an element to a set

In [84]:
my_set={1,2,3,4,5}
print("Original set:",my_set)
my_set.add(6)
print("Set After Adding Element:",my_set)

Original set: {1, 2, 3, 4, 5}
Set After Adding Element: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [85]:
my_set={1,2,3,4,5}
ele_rem=int(input("Enter any Element to remove:"))
my_set.remove(ele_rem)
print("Set after removal of Element:",my_set)

Enter any Element to remove:3
Set after removal of Element: {1, 2, 4, 5}

4. Check if an element exists in a set.

In [90]:
my_set={1,2,3,4,5}
ele_check=int(input("Enter any Element to remove:"))
if ele_check in my_set:
    print("Element Exist")
else:
    print("Element dont Exist")

Enter any Element to remove:4
Element Exist

5. Find the length of a set without using the `len()` function

In [91]:
my_set={1,2,3,4,5}
count=0
for i in my_set:
    count+=1
print("Length of set is:",count)

Length of set is: 5

6. Clear all elements from a set.

In [94]:
my_set={1,2,3,4,5}
print("Set before Clearing:",my_set)
my_set.clear()
print("Set after Clearing:",my_set)

Set before Clearing: {1, 2, 3, 4, 5}
Set after Clearing: set()

7. Create a set of even numbers from 1 to 10

In [95]:
even_set=set()
for i in range(1,11):
    if i%2==0:
        even_set.add(i)
print("Set of Even Numbers:",even_set)

Set of Even Numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [96]:
odd_set=set()
for i in range(1,11):
    if i%2!=0:
        odd_set.add(i)
print("Set of Odd Numbers:",odd_set)

Set of Odd Numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets

In [98]:
my_set1={1,2,3,4,5,6}
my_set2={4,5,6,7,8,9}
union_set=my_set1.union(my_set2)
print("Union of both Set is:",union_set)

Union of both Set is: {1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets

In [99]:
my_set1={1,2,3,4,5,6}
my_set2={4,5,6,7,8,9}
inter_set=my_set1.intersection(my_set2)
print("Intersection of both Set is:",inter_set)

Intersection of both Set is: {4, 5, 6}

11. Find the difference between two sets.

In [100]:
my_set1={1,2,3,4,5,6}
my_set2={4,5,6,7,8,9}
diff_set=my_set1.difference(my_set2)
print("Difference of both Set is:",diff_set)

Difference of both Set is: {1, 2, 3}

12. Check if a set is a subset of another set.

In [101]:
my_set1={1,2,3,4,5,6}
my_set2={4,5,6,}
sub_set=my_set2.issubset(my_set1)
print("Set2 is Subset of Set1:",sub_set)

Set2 is Subset of Set1: True

13. Check if a set is a superset of another set.

In [104]:
my_set1={1,2,3,4,5,6}
my_set2={4,5,6}
super_set=my_set1.issuperset(my_set2)
print("Set1 is Superset of Set2:",super_set)

Set1 is Superset of Set2: True

14. Create a set from a list

In [107]:
lst=[1,2,3,4,5,6]
print("original list:",lst)
my_set=set(lst)
print("Set after Conversion of list:",my_set)

original list: [1, 2, 3, 4, 5, 6]
Set after Conversion of list: {1, 2, 3, 4, 5, 6}

15. Convert a set to a list

In [109]:
my_set={1,2,3,4,5,6}
print("original Set:",my_set)
my_lst=list(my_set)
print("List after Conversion of set:",my_lst)

original Set: {1, 2, 3, 4, 5, 6}
List after Conversion of set: [1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [117]:
import random
my_set={1,2,3,4,5,6}
random_ele=random.choice(list(my_set))
my_set.remove(random_ele)
print("Set after removing random Element:",my_set)

Set after removing random Element: {1, 2, 3, 4, 6}

17. Pop an element from a set.

In [115]:
my_set={1,2,3,4,5,6}
popped_ele=my_set.pop()
print("Popped Element is:",popped_ele)
print("Set after pop:",my_set)

Popped Element is: 1
Set after pop: {2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [119]:
my_set1={1,2,3,4,5,6}
my_set2={7,8,9}
common=my_set1.intersection(my_set2)
if common:
    print("Two sets have Common Elements")
else:
    print("Two sets Don't have Common Elements")

Two sets Don't have Common Elements

 19. Find the symmetric difference between two sets.

In [120]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [121]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [124]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [126]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 

# Step 2: Check if the sets are identical using the `==` operator
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set

In [127]:
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [128]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [134]:
square_set=set()
for i in range(1,6):
    squares=i**2
    square_set.add(squares)
print("Squared Set is:",square_set)

Squared Set is: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [135]:
org_set={10,12,13,14,15,16,17,18}
even_set=[x for x in org_set if x%2==0]
s=set(even_set)
print("Set of Even Numbers",s)

{10, 12, 14, 16, 18}

27. Multiply all elements in a set by 2.

In [139]:
org_set={1,2,3,4,5,6}
mul_set=set()
for i in org_set:
    mul=i*2
    mul_set.add(mul)
print("multiplied set:",mul_set)

multiplied set: {2, 4, 6, 8, 10, 12}

28. Create a set of random numbers.

In [141]:
import random
n=5
random_set=set()
for i in range(n):
    random_num=random.randint(1,100)
    random_set.add(random_num)
print("Set of Random Num:",random_set)

Set of Random Num: {69, 12, 52, 91, 60}

29. Check if a set is empty.

In [142]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [145]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1,frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31.  Remove an element from a set using the discard method.

In [146]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [147]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [148]:
my_str="Hello"
my_set=set(my_str)
print("Set Created from String :",my_set)

Set Created from String : {'l', 'e', 'o', 'H'}

34. Convert a set of strings to a set of integers.

In [150]:
str_set=("123","456","789")
int_set=set()
for i in str_set:
    int_val=int(i)
    int_set.add(int_val)
print("Set of Integer Created is:",int_set)

Set of Integer Created is: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [151]:
int_set=(1,2,3,4,5)
str_set=set()
for i in int_set:
    str_val=str(i)
    str_set.add(str_val)
print("Set of String Created is:",str_set)

Set of String Created is: {'4', '3', '2', '1', '5'}

36. Create a set from a tuple.

In [152]:
input_tupl=(1,2,3,4,5)
output_set=set(input_tupl)
print("Created Set is:",output_set)

Created Set is: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [153]:
input_set={1,2,3,4,5}
output_tupl=tuple(input_set)
print("Created Tuple is:",output_tupl)

Created Tuple is: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [163]:
input_set={1,2,3,4,5}
max_val= None
for num in input_set:
    if max_val is None or max_val<num:
        max_val=num
print("Maximum value:",max_val)

Maximum value: 5

39. Find the minimum value in a set.

In [164]:
input_set={1,2,3,4,5}
min_val= None
for num in input_set:
    if min_val is None or min_val>num:
        min_val=num
print("Minimum value:",min_val)

Minimum value: 1

40. Create a set from user input.

In [168]:
n=int(input("Enter no of elements you want ot enter in set:"))
input_set=set()
for i in range(1,n+1):
      s=input("Enter element:")
      input_set.add(s)
print("Final Set is:",input_set)

Enter no of elements you want ot enter in set:5
Enter element:11
Enter element:22
Enter element:33
Enter element:44
Enter element:55
Final Set is: {'44', '33', '22', '11', '55'}

41. Check if the intersection of two sets is empty.

In [172]:
set1 = {1, 2, 3, 4, 5}
set2 = { 4,5,6, 7, 8}
intersection_res=set1.intersection(set2)
if intersection_res:
    print("Intersection of two set is not Empty")
else:
    print("Intersection of set is Empty")

Intersection of two set is not Empty

42. Create a set of the first 5 Fibonacci numbers.

In [183]:
fib_set=set()
a,b=0,1
for i in range(6):
    fib_set.add(a)
    a,b=b,a+b
print("Set of the first 5 Fibonacci numbers:", fib_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [184]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)

unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [191]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

[1, 2, 3]
The sets have the same elements.

45. Create a set of the first `n` powers of 2

In [198]:
n=5
power_of=[2**x for x in range(n)]

print("Set of first n power of 2:",set(power_of))

Set of first n power of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [199]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [200]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [201]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [213]:
n=5
alter_set=set()
for i in range(n):
    if i%2==0:
        alter_set.add(1)
    else:
        alter_set.add(0)
print(alter_set)

{0, 1}

50. Merge multiple sets into one.

In [209]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}